<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if user %}
                    {% if user.username == 'admin' %}
                        <li><a href="{{ url_for('admin') }}">Console</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('user_profile') }}">{{ user.first_name }} Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</body>
</html>
