<!DOCTYPE html>
<html>
<head>
    <title>Vote Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        var countdown = 3; // Countdown duration in seconds

        function updateCountdown() {
            document.getElementById("countdown").textContent = countdown;
            countdown--;

            if (countdown < -1) {
                window.location.href = "{{ url_for('home') }}";
            } else {
                setTimeout(updateCountdown, 1000); // Update countdown every second (1000 milliseconds)
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            updateCountdown(); // Start the countdown when the page loads
        });
    </script>
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>Thank You for Your Vote!</h1>
        <p>Your vote has been successfully recorded.</p>
        <p>You will be redirected to the home page in <span id="countdown">{{ countdown }}</span> seconds.</p>
    </div>
</body>
</html>
